* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

@media (max-width: 600px) {

    .container {
        flex-direction: column-reverse;
    }

    .wrapper {
        width: 100% !important;
    }

    .players {
        flex: 1;
        overflow-y: auto;
    }
}